.idea
reverse-proxy/nginx/*
!reverse-proxy/nginx/default.conf
database/postgres/*
!database/postgres/postgresql.conf.example
database/redis/*
!database/redis/redis.conf.example
database/keydb/*
!database/keydb/keydb.conf.example
.env
observability/grafana
observability/alertmanager
observability/prometheus/alert.rules.yml
*.DS_Store
observability/tempo/*
!observability/tempo/config.yaml.example